<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app"></div>

    <template id="my-app">
      <h2>v-for在template</h2>
      <ul>
        <template v-for="(value,key) in info">
          <li>{{key}}</li>
          <li>{{value}}</li>
          <li class="line"></li>
        </template>
      </ul>
      <hr />
      <h2>v-for在div</h2>
      <ul>
        <div v-for="(value,key) in info">
          <li>{{key}}</li>
          <li>{{value}}</li>
          <li class="line"></li>
        </div>
      </ul>
      <hr />
      <h2>v-for在ul</h2>
      <ul v-for="(value,key) in info">
        <li>{{key}}</li>
        <li>{{value}}</li>
        <li class="line"></li>
      </ul>
    </template>

    <script src="../js/vue.js"></script>
    <script>
      const App = {
        template: "#my-app",
        data() {
          return {
            info: {
              name: "why",
              age: 18,
              height: 185,
            },
          };
        },
      };

      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
